{% extends "main.html" %}
{% block content %}
<div class="row border-between">
    <div class="col-md-3">
        {% include "categorylist.html" %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    {{category.name}} ({{items|length}} 
                    {% if items|length == 1 %}item{% else %}items{% endif %})
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if session.get('is_admin') == True %}
                <a href="{{url_for('editCategory', category_id = category.id)}}">Edit</a> |
                <a href="{{url_for('deleteCategory', category_id = category.id)}}">Delete</a>
                {% endif %}
            </div>
        </div>
        {% if session.get('user_id') is not none %}
        <div class="row">
            <div class="col-xs-12">
                <a href="{{url_for('newItem', category_id = category.id)}}">Add Item</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h2>Items</h2>
            </div>
        </div>
        {% for item in items %}
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{url_for('showItem', item_id = item.id)}}">{{item.name}}</a>
                    {% if item.description is not none and item.description|length > 0 %}<br />
                    {{item.description}}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}