{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% if session.get('is_admin') == True %}
<div class="row">
    <div class="col-xs-12">
        <h2> Are you sure you want to delete {{category.name}}?</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="#" method = 'post'>
            <button type="submit" id="submit" type="submit">Delete</button>
            <a href="{{url_for('showCategories')}}">Cancel</a>
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-xs-12">
        You are not authorized to perform this action.
        <a href="{{url_for('showCategory', category_id=category.id)}}">Back To Category</a>
    </div>
</div>
{% endif %}
{% endblock %}
