{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% if session.get('is_admin') == True %}
<div class="row">
    <div class="col-xs-12">
        <h1>Edit {{category.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="#" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Name:</label>
                    <input type="text" maxlength="250" name="name" value="{{category.name }}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="submit" type="submit">
                        Save
                    </button>
                    <a href="{{url_for('showCategories')}}">Cancel</a>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-xs-12">
        You are not authorized to perform this action.
        <a href="{{url_for('showCategories')}}">Back To Catalog</a>
    </div>
</div>
{% endif %}
{% endblock %}
