{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% if session.get('is_admin') == True %}
<div class="row">
    <div class="col-xs-12">
        <h1>New Category</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="#" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Name:</label>
                    <input type="text" maxlength="250" name="name">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="submit" type="submit">
                        Create
                    </button>
                    <a href="{{url_for('showCategories')}}">Cancel</a>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-xs-12">
        You do not have authorization to perform this operation
        <a href="{{url_for('showCategories')}}">Back To Catalog</a>
    </div>
</div>
{% endif %}
{% endblock %}
