{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
    <div class="col-xs-12">
        <h1>New Item ({{category.name}})</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="#" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Name:</label>
                    <input type="text" maxlength="250" name="name">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="description">Description:</label>
                    <input type="text" maxlength="250" name="description">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="submit" type="submit">
                        Create
                    </button>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
